body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


header {
    background-color: #0c09d6;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}


main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}


.tabela {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0000FF;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


@media (max-width: 600px) {
    th, td {
        padding: 8px;
        font-size: 14px;
    }

    header h1 {
        font-size: 20px;
    }
}

@import url();

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
}

nav.Menu-lateral{
    width:70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0000FF;

    position: fixed;
    top: 0;
    left: 0; 
    overflow: hidden;
    transition: .2s;
}
nav.Menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    padding-left: 20px;
    margin-bottom: 5vh;
}

.btn-expandir > i{
    color: #fff ;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.home-menu:hover{
    background-color: blue;
}

ul li.home-menu{
    transition: .2s;
}

ul li.home-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
    margin: 0px;

}

ul li.home-menu a .txt-link{
     margin-left: 25px;
}

ul li.home-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}