* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@import url();

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
}

nav.Menu-lateral{
    width:70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0000FF;

    position: fixed;
    top: 0;
    left: 0; 
    overflow: hidden;
    transition: .2s;
}
nav.Menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    padding-left: 20px;
    margin-bottom: 5vh;
}

.btn-expandir > i{
    color: #fff ;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.home-menu:hover{
    background-color: blue;
}

ul li.home-menu{
    transition: .2s;
}

ul li.home-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
    margin: 0px;

}

ul li.home-menu a .txt-link{
     margin-left: 25px;
}

ul li.home-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}